<b>本当に退会しますか？</b>
<p>退会すると、会員登録情報や<br>
これまでの購⼊履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。</p>

<span><%= link_to '退会しない', public_customers_path, class:"btn btn-primary" %></span>
<span><%= link_to '退会する', public_customers_status_update_path, method: :patch, data: { confirm: 'Are you sure?'}, class:"btn btn-danger" %></span>
